$bgColor: red;
$font-h1: 28px;
$valid-sides: left, center, right;
$font-sizes: (
  "myh1": 45px,
  "myh2": 19px,
  "myp": 16px,
);

h1 {
  $spanColor: green; // 지역 변수
  color: $bgColor;
  // font-size: $font-h1;
  font-size: map-get($font-sizes, "myh1") * 3;
  span {
    color: $spanColor;
  }
}

p {
  $spanColor: blue;
  color: $spanColor;
  text-align: nth($valid-sides, -2);
}
